<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>850272532783-dj7ku9c619nkpraabkrm647bk7ffkubg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.850272532783-dj7ku9c619nkpraabkrm647bk7ffkubg</string>
	<key>API_KEY</key>
	<string>AIzaSyCDQhrzD80rc0j9siIxpiLonGezMHWjlBo</string>
	<key>GCM_SENDER_ID</key>
	<string>850272532783</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Smriti-Somasundaram.teamFit</string>
	<key>PROJECT_ID</key>
	<string>fitness-e48bb</string>
	<key>STORAGE_BUCKET</key>
	<string>fitness-e48bb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:850272532783:ios:0960f21946fd4d4a0609da</string>
	<key>DATABASE_URL</key>
	<string>https://fitness-e48bb-default-rtdb.firebaseio.com</string>
</dict>
</plist>